<div class="container">
  <h1 *ngIf="fetching && !errorMessage ">Transforming...</h1>
 <form #formRecord = "ngForm" (ngSubmit)="handleSubmit(formRecord)">
  <div class="input__wrapper">
    <input
      type="text"
      autofocus
      name="url"
      ngModel
      placeholder="Input the url"
    >
    <button type="submit">Shorten</button>
  </div>

 </form>
 <div *ngIf="data && !errorMessage" class="shorten__link__wrap">
    <div class="short__link">
      <label>short_link:</label>
      <a href="{{fullLink}}" target="_blank">{{shortLink1}}</a>
    </div>
    <div class="short__link">
      <label>short_link2:</label>
      <a  href="{{fullLink2}} "target="_blank">{{shortLink2}}</a>
    </div>
 </div>
 <p class="errMsg" *ngIf="errorMessage">{{errorMessage}}</p>
</div>
